.topics {
    background-color: #f2f2f2;
    width: 100%;
    height: 100vh;
}

.topics-header{
    width: 100%;
    text-align: center;
}
.topics-header h1{
    font-size: 40px;
    font-weight: 600;
    color: #333;
    padding-top: 30px;
    padding-bottom: 60px;
    margin: 0;
}

.topics-content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.topic-link{
    width: 100%;
}


/* ////////////////////////////////////// */
.topic{
    background-color: #f2f2f2;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px #ccc;
    
    width: 50%;
    max-width: 600px;
    min-width: 400px;
    text-align: center;

    cursor: pointer;

}

.topic:hover{
    background-color: #e2e2e2;
}

.topic:active{
    background-color: #d2d2d2;
}