.summary{
    background-color: #f5f5f5;
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 15px;
}

.summary #text-summary{
    
    width: 96%;
    height: 350px;

    font-size: 18px;
    font-weight: 500;


    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px 2%;
}

.page{
    overflow: hidden;
}

.summary-page-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-wrapper-summary{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 0 20px 70px 0px;

    width: 100%;
}

.text-header{
    width: fit-content;
    font-weight: 600;
    color: #333;
    margin-top: 85px;
}

.text-content{
    width: 60%;
    /* background-color: #ececec; */
}

.summary #text{
    
    width: 96%;
    height: 350px;

    font-size: 18px;
    font-weight: 500;


    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px 2%;
}


/* ///////////////////////////////////////// */
.summary-results{
    width: 100%;
    height: 100vh;
    background-color: #f5f5f5;

    border-left: 1px solid #ccc;
}

.summary-results h1{
    /* padding: 50px 0 0 0; */
    width: fit-content;
    margin: 100px auto 30px;
}


.summary-wrapper{
    gap: 5px;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 340px;

    font-size: 18px;
    font-weight: 500;
    color: #333;
    padding: 10px;
    margin: auto;
    margin-bottom: 75px;

    border-radius: 10px;
    border: 1px solid #ccc;

    overflow-y: scroll;
}

.get-sentiment-button-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    transition: background-color 0.2s ease-in-out;
}